* {
    padding: none;
    margin: none;
    box-sizing: border-box;
}

html, 
body {
    height: 100%;
}

.pageWidth {
    margin: auto;
    max-width: 850px;
}

.border {
    border: 1px solid #000;
}

@media (max-width: 480px) {
    #formResponsive {
        flex-direction: column;
    }
}

#formResponsive {
    gap: 32px;
}

#formResponsive > .container-fluid {
    margin-top: 48px;

}

.navbar {
    background-color: #d8d6b9;
}

/* Makes the footer sticky to the bottom */

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -70px;
}

.push {
    height: 70px;
}

.footer-container {
    position: relative;
    height: 70px;
    margin: 0 16px;
}


.navbar-nav {
    margin: auto;
}

.nav-item {
    margin: 0 16px;
}

.container {
    margin: auto;

}

h3 {
    margin-top: 48px;
    text-align: left;
    font-size: 24px;
}

p {
    text-align: left;
}

figure {
    margin: 16px 0;
}

.quote {
    margin: 24px 0;
    display: flex;
    background-color: #efeee1;
}

.quote span {
    margin-top: -36px;
}

.social-container {
    margin-bottom: -48px;
}

.social {
    color: rgba(0,0,0,.55);
}

footer p {
    color: rgba(0,0,0,.55);
    margin-bottom: -48px;
    font-size: 14px;
}