* {
    padding: none;
    margin: none;
    box-sizing: border-box;
}


.navbar {
    background-color: #e3f2fd;
}


.navbar-nav {
    margin: auto;
}

.nav-item {
    margin: 0 16px;
}

.container img {
    /* margin: auto; */
}